<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>图片放大镜效果</title>
    <link rel="stylesheet" href="/css/index.css">
    <script src="/js/index.js"></script>
</head>

<body>
    <!-- 整个大盒子 -->
    <div class="main" id="main">
        <div class="small">
            <!--小图-->
            <img alt="" class="smallImg" src="/images/5937a1aeb4efd.jpg" width="500" />
            <!-- 遮挡层,黄色的小方块 -->
            <div class="mask"></div>
        </div>
        <!--大层-->
        <div class="big">
            <!--大图-->
            <img alt="" class="bigImg" src="/images/5937a1aeb4efd.jpg" width="2500" />
        </div>
    </div>
</body>

</html>