<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>art-template在node.js中的使用</title>
</head>

<body>
    <table>
        <thead>
            <tr>
                <td>id</td>
                <td>式神名字</td>
                <td>式神级别</td>
                <td>式神性别</td>
                <td>式神所属</td>
            </tr>
        </thead>
        <tbody>
            {{each data}}
            <tr>
                <td>{{$value.id}}</td>
                <td>{{$value.name}}</td>
                <td>{{$value.grade}}</td>
                <td>{{$value.gender}}</td>
                <td>{{$value.adress}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</body>

</html>